

td{
    border: solid black 1px;
}

.przyciski{

}

.zegar{

}

.msg{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.918);
    z-index: 2;
    cursor: pointer;
    color: white;
}

.slider{
    width: 300px;
    height: 300px;
    position: relative;
}

.plytka{
}

.cropped {
    overflow: hidden;
    position: absolute;
}

.cropped img{
    width: 300px;
    height: 300px;
}

.showSlide {
    display: block;
    width: 100px;
    height: 100px;
    position: relative;
}

.selektor{
    max-width: 100px;
    position: relative;
    margin: auto;
}

.sselektor{
    width: 95px;
    height: 100px;
    display: flex;
    overflow: hidden;
}

.lewa, .prawa {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: blue;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
}

.prawa {
    right: 10;
    border-radius: 3px 0 0 3px;
}

.lewa:hover, .prawa:hover {
    background-color: rgba(115, 115, 115, 0.8)
}