.selektor{
    background-color: blue;
}

td{
    border: solid black 1px;
}

.przyciski{

}

.zegar{

}

.msg{
    visibility: hidden;
}

.slider{
    width: 300px;
    height: 300px;
    position: relative;
}

.plytka{
}

.cropped {
    overflow: hidden;
    position: absolute;
}

.cropped img{
    width: 300px;
    height: 300px;
}